<span style="color:white; margin-left: 2px">
    <a class="btn btn-danger" href="/ShoppingCart/ShowCart" style="font-weight:200;">
        <span class="glyphicon glyphicon-shopping-cart"></span> Your Cart
    </a>
    Tổng Tiền :<b>@ViewBag.TotalCart.ToString("#,##0").Replace(',', '.') đồng</b>
</span>
